<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/login.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/IMGs/favicon.ico">
    <link rel="manifest" href="/site.webmanifest" crossorigin="use-credentials">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="login-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="flashed-messages">
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        <h2>Login</h2>
        <form method="POST">
            <input type="text" name="username" class="input-field" placeholder="Username" required><br>
            <input type="password" name="password" class="input-field" placeholder="Password" required><br>
            {% if error %}
                <div class="error-message">{{ error }}</div>
            {% endif %}
            <button type="submit" class="login-btn">Login</button>
            <a href="{{ url_for('register') }}" class="register-btn">Register</a>
        </form>
    </div>
</body>
</html>
