<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/login.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/IMGs/favicon.ico">
    <link rel="manifest" href="/site.webmanifest" crossorigin="use-credentials">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="login-container">
        <h2>Register</h2>
        <form method="POST">
            <input type="text" name="username" class="input-field" placeholder="Username" required><br>
            <input type="password" name="password" class="input-field" placeholder="Password" required><br>
            {% if error %}
                <div class="error-message">{{ error }}</div>
            {% endif %}
            <button type="submit" class="login-btn">Register</button>
            <a href="{{ url_for('login') }}" class="register-btn">Back to Login</a>
        </form>
    </div>
</body>
</html>
